/* ----------------------------------------------------
   WIKI PAGES
   ---------------------------------------------------- */

@use "sticky-paginator";

div#paginator {
  @include sticky-paginator.bar(0px);
}

#container > main > div > div:nth-child(1) > form > table td {
  background: none !important;
}

table {
  border-collapse: separate;
  border-spacing: 0 7px;
}

td {
  border: none !important;
  background-color: var(--surface0);

  &:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
