	body { 
		background: #272727;
		padding: 0px;
		margin: 0px;
		color: #fff;
		font-size: 14px;
		font-family: verdana, sans-serif, helvetica;
	}
	
	#header {
		display: none;
	}
	
	.grid-container {
		display: grid;
		grid-template-columns: 230px auto 300px;
		grid-template-areas: 
			'leftmenu content rightmenu'
			'leftmenu replybox rightmenu'
			'leftmenu footer rightmenu';
		background-color: #272727;
		height: 100%;
		overflow: hidden;
		padding: 0px !important;
	}

	#messageWindow {
		grid-area: content;
		width: 100% !important;
		height: 75vh;
		box-sizing: border-box;
	}
	
	#replyBox {
		grid-area: replybox;
		width: 100% !important;
		height: 15vh;
		box-sizing: border-box;
		margin: 0px auto;
		padding: 10px;
	}
	
	#leftMenu {
		grid-area: leftmenu;
		width: 230px !important;
		box-sizing: border-box;
	}
	
	#rightMenu {
		grid-area: rightmenu;
		width: 300px !important;
		box-sizing: border-box;
		padding: 0px;
	}

	#footer {
		grid-area: footer;
		width: 100% !important;
		box-sizing: border-box;
		height: 10vh;
	}
	
	#textMessageArea {
		font-family: verdana, sans-serif, helvetica;
		display: inline-block;
		width: 100%;
		height: 45px;
		padding: 12px;
		resize: none;
		overflow: hidden;
		box-sizing: border-box;
		background: #444;
		border: 0px;
		border-radius: 3px;
		color: #fff;
	}

	.grid-item {
		background-color: rgba(0, 0, 0, 0.1);
		padding: 15px 5px 15px 5px;
		overflow-y: scroll;
		scrollbar-width: thin;
		overflow-x: hidden;
	}

	#messageWindow {
		background: #393939;
	}

	::-webkit-scrollbar-track {
		background-color: #444;  border-right: 3px solid #333;
	}

	::-webkit-scrollbar {
		width: 10px;
		background-color: #333;
	}

	::-webkit-scrollbar-thumb {
		background-color: #222;
		border-right: 3px solid #333;
	}

	.grid-item-user-link {
		border-radius: 3px;
		margin: 10px 0px 10px 0px;
	}

	.grid-item-user-link:hover {
		background: #3f3f3f;
	}

	.grid-item a {
		color: #ffffff !important;
	}

	.grid-left-menu-item a {
		color: #999 !important;
	}

	.grid-left-menu-item a:hover {
		color: #eee !important;
	}

	.grid-item-container {
		padding: 10px;
		margin-bottom: 10px;
	}

	.grid-item-user-message-link a{
		text-decoration: none;
		font-weight: bold;
	}

	.grid-item-user-message {
		word-wrap: break-word;
		margin: 5px 0px 0px 0px;
	}
	
	.modal {
		display: none;
		position: fixed;
		z-index: 1000;
		padding-top: 100px; 
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0); 
		background-color: rgba(0,0,0,0.4);
	}

	.modal-content {
		border-radius: 3px;
		position: relative;
		background-color: #333333;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 80%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}

	/* Add Animation */
	@-webkit-keyframes animatetop {
		from {top:-300px; opacity:0} 
		to {top:0; opacity:1}
	}

	@keyframes animatetop {
		from {top:-300px; opacity:0}
		to {top:0; opacity:1}
	}

	/* The Close Button */
	.close {
		color: white;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}

	.modal-header {
		padding: 2px 16px;
		background-color: #5cb85c;
		color: white;
	}

	.modal-body {
		padding: 2px 16px;
	}

	.modal-footer {
		padding: 2px 16px;
		background-color: #5cb85c;
		color: white;
	}

	@media only screen and (max-width: 850px) {

		.grid-container {
			grid-template-columns: none !important;
			grid-template-areas: 
				'header'
				'content'
				'replybox'
				'footer'
				'leftmenu'
				'rightmenu';
			padding: 0px 5px 0px 5px !important;
		}
		
	#messageWindow {
		grid-area: content;
		width: 100% !important;
		height: 75vh;
		box-sizing: initial !important;
	}
	
	#header {
		display: inline-block;
		grid-area: header;
		width: 100% !important;
		min-height: 50px !important;
	}
	
	#replyBox {
		grid-area: replybox;
		width: 100% !important;
		height: 10vh;
		box-sizing: initial !important;
		padding: 10px 0px;
	}
	
	#leftMenu {
		grid-area: leftmenu;
		width: 100% !important;
	}
	
	#rightMenu {
		grid-area: rightmenu;
		width: 100% !important;
	}

	#footer {
		grid-area: footer;
		width: 100% !important;
		height: 10vh;
	}
	
	#menu__toggle {
		opacity: 0;
	}
	#menu__toggle:checked + .menu__btn > span {
		transform: rotate(45deg);
	}
	#menu__toggle:checked + .menu__btn > span::before {
		top: 0;
		transform: rotate(0deg);
	}
	#menu__toggle:checked + .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
		left: 0 !important;
	}
	.menu__btn {
		position: fixed;
		top: 25px;
		left: 20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;
	}
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
		transition-duration: .25s;
	}
	.menu__btn > span::before {
		content: '';
		top: -8px;
	}
	.menu__btn > span::after {
		content: '';
		top: 8px;
	}
	.menu__box {
		display: block;
		position: fixed;
		top: 0;
		left: -100%;
		width: 300px;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		background-color: #222;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
		transition-duration: .25s;
	}
	.menu__item {
		display: block;
		padding: 12px 24px;
		color: #fff;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		transition-duration: .25s;
	}
	.menu__item:hover {
		background-color: #CFD8DC;
	}
}

/*Pagination begins here*/

	div#paginator {
		padding: 0;
		font-size: 12px;
		text-align: center;
		font-weight: bold;
		clear: both;
	}

	div#paginator a {
		color: #fff !important;
		display: inline-block;
		text-decoration: none !important;
		margin: 3px 3px;
		padding: 12px 16px 12px 16px;
		font-weight: normal;
		border: 1px solid #222;
	}

	div#paginator a.arrow {
		border: none;
	}

	div#paginator a.arrow:hover {
		background: white;
	}

	div#paginator a.current {
		border: 1px solid #AAA;
	}

	div#paginator a:hover {
		background: #222;

	}

	div#paginator span {
		margin: 0 3px;
		padding: 2px 6px;
	}

	div#paginater {
		display: inline-block;
		padding: 0;
		font-size: 12px;
		text-align: center;
		font-weight: bold;
		clear: both;
	}

	div#paginater a {
		margin: 0 3px;
		padding: 8px 12px;
		font-weight: normal;
		color: #fff !important;
		border: 1px solid #444;
	}

	div#paginater a.arrow {
		border: none;
	}

	div#paginater a.arrow:hover {
		background: white;
	}

	div#paginater a.current {
		border: 1px solid #AAA;
	}

	div#paginater a:hover {
		background: #444;
	}

	div#paginater span {
		margin: 0 3px;
		padding: 2px 6px;
	}